/*--------------------------RESETEO CSS--------------------------*/
*{
    margin:0;
    padding:0;
}
/*----------------IMPORTACION ESTILOS Y VARIABLES----------------*/
@import"header.scss";
@import"nav.scss";
@import"footer.scss";
@import"_variables.scss";


/*----------------------------ESTILOS MAIN GENERALES----------------------------*/

/*-----------------------HOME---------------------------*/

main{
    background-image: url(../img/cupcakes-productos.jpg)  ;
    background-position: center;  
    width: 100%;

    .main__titulo__home{
        margin-top: 20px;
        text-align: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(117, 85, 112);
    }

    .main__parrafo{
    font-style: italic;
    font-weight:initial;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: indigo;
    text-align: center;
    }
}

/*----------------SOBRE NOSOTROS----------------*/  

.main__sobrenosotros{
    background-image: url(../img/fondo-sobrenosotros-violeta.jpg);

    .main__titulo__sobrenosotros{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
        text-align: center;
        width: 100%;
    }

    .foto1 {
        border: solid whitesmoke;
    }
    
    .foto2 {
        border: solid whitesmoke;
    }
    .foto3 {
        border: solid whitesmoke;
    }
    & p {
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
    }
    
}


/*---------------------PRODUCTOS-------------------*/

.main__productos{
    background-image: url(../img/fondo-sobrenosotros-violeta.jpg);
    background-position: center; 
    overflow: visible;

    .main__titulo__productos {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
    }
    .main__img__productos img{
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 1.5%;
        margin-right: 1.5%;
        margin-top: 10px;
        width: 29%;
        justify-content: center;
        border: solid white;  
    }
    .main__subtitulos h3 {
        margin-left: 5px;
        margin-bottom: 10px;
        margin-top: 20px;
        color: rgb(249, 243, 252);
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        text-decoration: underline;  
    }
    thead tr th {
        text-align: center;
    }
    tbody tr td {
        text-align: center;
    }
    
}

/*--------------------SUCURSALES--------------------*/

#div__sucursales main {
    background-image: url(../img/fondo-sobrenosotros-violeta.jpg);
    background-position: center; 
    overflow: visible;

    .main__titulo__sucursales {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 15px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
    }
    .libertador {
        color: white;
        text-align: center;
    }
    .cabildo {
        color: white;
        text-align: center;
    }
    .maipu {
        color: white;
        text-align: center;
    }
    
    .pielibertador {
        color: white;
        font-style: italic;
        text-align: center;
    }
    .piecabildo {
        color: white;
        font-style: italic;
        text-align: center;
    }
    .piemaipu {
        color: white;
        font-style: italic;
        text-align: center;
    }
    
}

/*--------------------------------------CONTACTO---------------------------------------*/

#div__contacto main {
    background-image: url(../img/fondo-sobrenosotros-violeta.jpg);
    padding-bottom: 0px;
    background-position: center; 
    overflow: visible;

    .main__titulo__contacto {
        text-align: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
    }
    .form-label{
        color: white;
        font-style: italic;
    }
}


/*----------------------------------MEDIAS QUERIES_MAIN------------------------------*/

/*-----------------------Pantallas pequeñas--------------*/

@media only screen and ( max-width: 600px) {
/*(HOME)*/

main {
    width: 100%;
    height: 500px;
    
    #main__grilla__home {
        display:grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "titulo"
                            "parrafo";
    
    }
    .main__titulo__home{
        font-size: 25px;
        grid-area:titulo;
    }
    .main__parrafo {
        font-size: 15px;
        grid-area:parrafo
    }
    
}

/*(SOBRE NOSOTROS)*/

.main__sobrenosotros {
    height: 1000px;

    .main__titulo__sobrenosotros{
        font-size: 20pt;
    }
    #main__grilla__sobrenosotros {
        height: 860px;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "foto1" 
                            "foto2"
                            "foto3"
                            "parrafo";
        grid-row-gap: 20px;

        & .foto1 {
            grid-area: foto1;
            justify-self: center;
            align-self: center;
        }
        & .foto2 {
            grid-area: foto2;
            justify-self: center;
            align-self: center;
        }
        & .foto3 {
            grid-area: foto3;
            justify-self: center;
            align-self: center;
        }
        & p{
            font-size: 12pt;
            grid-area: parrafo;
            margin-left: 5px;
        }
    }


    /*Tamaños de las fotos*/
    .foto1 {
        height:80% ;
        width:90%;
    }
    .foto2 {
        height:80% ;
        width:90%;
    }
    .foto3 {
        height:80% ;
        width:90%;
    }

}

/*(PRODUCTOS)*/

.main__productos{
    height: 800px;

    .main__titulo__productos{
        font-size: 28px;
    }
    .main__subtitulos h3 {
        font-size: 25px;  
    }
}

/*(SUCURSALES)*/

#div__sucursales main {
    height: 750px;  

    .main__titulo__sucursales {
        height: 50px;
        font-size: 25px;
    }
    #main__grilla_sucursales {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 25% 1fr 1fr 25% 1fr 1fr 25% 1fr;
        grid-template-areas: "libertador"
                            "mapalib"
                            "pielib"
                            "cabildo"
                            "mapacab"
                            "piecab"
                            "maipu"
                            "mapamaipu"
                            "piemaipu"
                            ;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        height: 550px;
        width: 96%;

        .libertador {
            grid-area: libertador;
            font-size: 15pt;
        }
        .cabildo {
            grid-area: cabildo;
            font-size: 15pt;
        }
        .maipu {
            grid-area: maipu;
            font-size: 15pt;
        }
        
        .mapalibertador {
            height: 100% ;
            width: 90% ;
            grid-area: mapalib;
            justify-self: center;
        }
        .mapacabildo {
            height: 100% ;
            width: 90%;
            grid-area: mapacab;
            justify-self: center;
        }
        .mapamaipu {
            height: 100% ;
            width: 90% ;
            grid-area: mapamaipu;
            justify-self: center;
        }
        .pielibertador {
            grid-area: pielib;
            font-size: 11pt;
        }
        .piecabildo {
            grid-area: piecab;
            font-size: 11pt;
        }
        .piemaipu {
            grid-area: piemaipu;
            font-size: 11pt;
        }
    
    }
}


/*(CONTACTO)*/

#div__contacto main {
    height: 500px;

    .main__titulo__contacto {
        height: 80px;
        font-size: 25px;
    }
}


}

/*----------------Pantallas pequeñas horizontales-------------*/

@media only screen and ( min-width: 600px) {  
    /*(HOME)*/

    main {
        width: 100%;
        height: 550px;
        background-image: url(../img/cupcakes-productos.jpg)  ;
        background-position: center; 

        #main__grilla__home{
            height: 22%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            justify-content: space-evenly;
        }
        .main__titulo__home{
            text-align: center;
            font-size: 30px;
        }
        .main__parrafo {
            font-size: 20px;
            text-align: center;
        }    
        
    }

    /*(SOBRE NOSOTROS)*/

    .main__sobrenosotros {
        height: 600px;

        .main__titulo__sobrenosotros {
            font-size: 30pt;
        }
        #main__grilla__sobrenosotros {
            height: 500px;
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 0.5fr;
            grid-template-areas: "foto1 foto2" 
                                "foto3 foto3"
                                "parrafo parrafo";
            grid-row-gap: 10px;
            grid-column-gap: 10px;

            & .foto1 {
                border: solid whitesmoke;
                grid-area: foto1;
                justify-self: flex-end;
                align-self: center;
            }
            & .foto2 {
                border: solid whitesmoke;
                grid-area: foto2;
                justify-self: flex-start;
                align-self: center;
            }
            & .foto3 {
                border: solid whitesmoke;
                grid-area: foto3;
                justify-self: center;
                align-self: center;
            }
        
            & p {
                grid-area:parrafo;
                color: white;
                font-size: 10pt;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-style: italic;
                margin-left: 5px;
            }
        }

        /*Tamaños de las fotos*/
        .foto1 {
            height:80%;
            width:90% ;
        }
        .foto2 {
            height:80%;
            width:90% ;
        }
        .foto3 {
            height:80%;
            width:90% ;
        }
    }
    /*(PRODUCTOS)*/

    .main__productos{
        height: 800px;

       .main__titulo__productos {
            font-size: 30px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .main__subtitulos h3 {
            font-size: 27px;  
        }
        thead tr th {
            text-align: center;
        }
        tbody tr td {
            text-align: center;
        }
        
    }


    /*(SUCURSALES)*/

    #div__sucursales main {
        height: 750px;  

        .main__titulo__sucursales {
            height: 50px;
            font-size: 25pt;
        }
        #main__grilla_sucursales {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 25% 1fr 1fr 25% 1fr 1fr 25% 1fr;
            grid-template-areas: "libertador"
                                "mapalib"
                                "pielib"
                                "cabildo"
                                "mapacab"
                                "piecab"
                                "maipu"
                                "mapamaipu"
                                "piemaipu"
                                ;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            height: 550px;
            width: 96%;

            .libertador {
                grid-area: libertador;
                color: white;
                text-align: center;
                font-size: 15pt;
            }
            .cabildo {
                grid-area: cabildo;
                color: white;
                text-align: center;
                font-size: 15pt;
            }
            .maipu {
                grid-area: maipu;
                color: white;
                text-align: center;
                font-size: 15pt;
            }
            
            .mapalibertador {
                height: 100% ;
                width: 90% ;
                grid-area: mapalib;
                justify-self: center;
            }
            .mapacabildo {
                height: 100% ;
                width: 90%;
                grid-area: mapacab;
                justify-self: center;
            }
            .mapamaipu {
                height: 100% ;
                width: 90% ;
                grid-area: mapamaipu;
                justify-self: center;
            }
            .pielibertador {
                grid-area: pielib;
                color: white;
                text-align: center;
                font-size: 11pt;
                font-style: italic;
            }
            .piecabildo {
                grid-area: piecab;
                color: white;
                text-align: center;
                font-size: 11pt;
                font-style: italic;
            }
            .piemaipu {
                grid-area: piemaipu;
                color: white;
                text-align: center;
                font-size: 11pt;
                font-style: italic;
            }
        
        }
    }
  
    /*(CONTACTO)*/

    #div__contacto main {
        height: 500px;

        .main__titulo__contacto {
            height: 80px;
            text-align: center;
            font-size: 25px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: white;
        }
    }

}

/*-----------------------Pantallas medianas----------------*/

@media only screen and ( min-width: 768px) {
    /*(HOME)*/
    main {
        width: 100%;
        height: 550px;
        background-image: url(../img/cupcakes-productos.jpg)  ;
        background-position: center;  

        #main__grilla__home {
            height: 22%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            justify-content: space-evenly;
        }
        
        .main__titulo__home{
            text-align: center;
            font-size: 35px;
        }
        .main__parrafo {
            font-size: 25px;
            text-align: center;
        }
    }

    /*(SOBRE NOSOTROS)*/

    .main__sobrenosotros{
        height: 700px;

        .main__titulo__sobrenosotros {
            font-size: 30pt;
        }
        #main__grilla__sobrenosotros {
            height: 370px;
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 0.5fr;
            grid-template-areas: "foto1 foto2" 
                                "foto3 foto3"
                                "parrafo parrafo";
            grid-row-gap: 10px;
            grid-column-gap: 10px;

            & .foto1 {
                border: solid whitesmoke;
                grid-area: foto1;
                justify-self: center;
                align-self: center;
            
            }
            & .foto2 {
                border: solid whitesmoke;
                grid-area: foto2;
                justify-self: center;
                align-self: center;
            }
            & .foto3 {
                border: solid whitesmoke;
                grid-area: foto3;
                justify-self: center;
                align-self: center;
            }
            
            & p {
                grid-area:parrafo;
                color: white;
                font-size: 10pt;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-style: italic;
                margin-left: 5px;
            }
        
        }
        /*Tamaños de las fotos*/
        .foto1 {
            height:230px ;
            width: 310px ;
        }
        .foto2 {
            height:230px ;
            width: 310px ;
        }
        .foto3 {
            height:220px ;
            width: 550px ;
        }
    }

    /*(PRODUCTOS)*/

    .main__productos{
        height: 800px;

        .main__titulo__productos {
            font-size: 33px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .main__subtitulos h3 {
            font-size: 29px;  
        }
        thead tr th {
            text-align: center;
        }
        tbody tr td {
            text-align: center;
        }

    }

    /*(SUCURSALES)*/

    #div__sucursales main {
        height: 100%;  

        .main__titulo__sucursales {
            height: 60px;
            font-size: 28px;
        }
        #main__grilla_sucursales {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 50% 1fr 1fr 50% 1fr 1fr 50% 1fr;
            grid-template-areas: "libertador cabildo maipu"
                                "mapalib mapacab mapamaipu"
                                "pielib piecab piemaipu"
                                ;
            grid-column-gap: 10px;
            grid-row-gap: 20px;
            height: 550px;
            width: 96%;

            .libertador {
                grid-area: libertador;
                color: white;
                text-align: center;
                font-size: 15pt;
            }
            .cabildo {
                grid-area: cabildo;
                color: white;
                text-align: center;
                font-size: 15pt;
            }
            .maipu {
                grid-area: maipu;
                color: white;
                text-align: center;
                font-size: 15pt;
            }
            
            .mapalibertador {
                height: 100% ;
                width: 90% ;
                grid-area: mapalib;
                justify-self: center;
            }
            .mapacabildo {
                height: 100% ;
                width: 90%;
                grid-area: mapacab;
                justify-self: center;
            }
            .mapamaipu {
                height: 100% ;
                width: 90% ;
                grid-area: mapamaipu;
                justify-self: center;
            }
            .pielibertador {
                grid-area: pielib;
                color: white;
                text-align: center;
                font-size: 11pt;
                font-style: italic;
            }
            .piecabildo {
                grid-area: piecab;
                color: white;
                text-align: center;
                font-size: 11pt;
                font-style: italic;
            }
            .piemaipu {
                grid-area: piemaipu;
                color: white;
                text-align: center;
                font-size: 11pt;
                font-style: italic;
            }
        
        }
    }

    /*(CONTACTO)*/
        #div__contacto main {
        height: 500px;
        .main__titulo__contacto {
            height: 80px;
            text-align: center;
            font-size: 25px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: white;
        }
    } 
}

/*------------------Pantallas medianas grandes---------------------------*/

@media only screen and ( min-width: 992px) {
    /*(HOME)*/

    main {
        width: 100%;
        height: 550px;
        background-image: url(../img/cupcakes-productos.jpg)  ;
        background-position: center;  

        #main__grilla__home {
            height: 22%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            justify-content: space-evenly;
        }
        .main__titulo__home{
            text-align: center;
            font-size: 40px;
        }
        .main__parrafo{
            font-size: 25px;
            text-align: center;
        }
        
    }

    /*(SOBRE NOSOTROS)*/
    .main__sobrenosotros{
        height: 450px;

        .main__titulo__sobrenosotros{
            font-size: 30pt;
        }
        #main__grilla__sobrenosotros{
            height: 250px;
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr ;
            grid-template-areas: "foto1 foto2 foto3" 
                                "parrafo parrafo parrafo"
            ;
            grid-row-gap: 10px;
            grid-column-gap: 10px;
            margin-bottom: 1px;

            & .foto1 {
                border: solid whitesmoke;
                grid-area: foto1;
                justify-self: center;
                align-self: center;
            }
            & .foto2 {
                border: solid whitesmoke;
                grid-area: foto2;
                justify-self: center;
                align-self: center;
            }
            & .foto3 {
                border: solid whitesmoke;
                grid-area: foto3;
                justify-self: center;
                align-self: center;
            }
        
            & p {
                grid-area:parrafo;
                color: white;
                font-size: 11pt;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-style: italic;
                margin-left: 5px;
            }
            
        }
        /*Tamaños de las fotos*/
        .foto1 {
            height: 230px;
            width: 290px ;
        }
        .foto2 {
            height:230px ;
            width: 310px ;
        }
        .foto3 {
            height:230px ;
            width: 300px ;
        }
    }

    /*(PRODUCTOS)*/

    .main__productos{
        height: 800px;
        
        .main__titulo__productos {
            font-size: 35px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .main__subtitulos h3 {
            font-size: 32px;  
        }
        thead tr th {
            text-align: center;
        }
        tbody tr td {
            text-align: center;
        }
    }

    /*(SUCURSALES)*/

    #div__sucursales main {
        height: 100%;  

        .main__titulo__sucursales {
            height: 60px;
            font-size: 30px;
        }
        #main__grilla_sucursales {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 50% 1fr 1fr 50% 1fr 1fr 50% 1fr;
            grid-template-areas: "libertador cabildo maipu"
                                "mapalib mapacab mapamaipu"
                                "pielib piecab piemaipu"
                                ;
            grid-column-gap: 10px;
            grid-row-gap: 20px;
            height: 550px;
            width: 96%;

            .libertador {
                grid-area: libertador;
                color: white;
                text-align: center;
                font-size: 20pt;
            }
            .cabildo {
                grid-area: cabildo;
                color: white;
                text-align: center;
                font-size: 20pt;
            }
            .maipu {
                grid-area: maipu;
                color: white;
                text-align: center;
                font-size: 20pt;
            }
            
            .mapalibertador {
                height: 100% ;
                width: 90% ;
                grid-area: mapalib;
                justify-self: center;
            }
            .mapacabildo {
                height: 100% ;
                width: 90%;
                grid-area: mapacab;
                justify-self: center;
            }
            .mapamaipu {
                height: 100% ;
                width: 90% ;
                grid-area: mapamaipu;
                justify-self: center;
            }
            .pielibertador {
                grid-area: pielib;
                color: white;
                text-align: center;
                font-size: 15pt;
                font-style: italic;
            }
            .piecabildo {
                grid-area: piecab;
                color: white;
                text-align: center;
                font-size: 15pt;
                font-style: italic;
            }
            .piemaipu {
                grid-area: piemaipu;
                color: white;
                text-align: center;
                font-size: 15pt;
                font-style: italic;
            }
        
        }
    }

    /*(CONTACTO)*/

    #div__contacto main {
        height: 500px;
        .main__titulo__contacto {
            height: 80px;
            text-align: center;
            font-size: 25px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: white;
        }
    }

}

/*------------------Pantallas grandes------------------------------*/

@media only screen and ( min-width: 1200px) {
    /*(HOME)*/
    main {
        width: 100%;
        height: 550px;
        background-image: url(../img/cupcakes-productos.jpg)  ;
        background-position: center;  

        #main__grilla__home {
            height: 22%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            justify-content: space-evenly;
        }
        .main__titulo__home{
            text-align: center;
            font-size: 50px;
        }
        .main__parrafo {
            font-size: 30px;
            text-align: center;
        }
    }

    /*(SOBRE NOSOTROS)*/

    .main__sobrenosotros{
        height: 400px;

        .main__titulo__sobrenosotros{
            font-size: 30pt;
        }
        #main__grilla__sobrenosotros{
            height: 250px;
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr ;
            grid-template-areas: "foto1 foto2 foto3" 
                                "parrafo parrafo parrafo"
            ;
            grid-row-gap: 10px;
            grid-column-gap: 10px;
            margin-bottom: 1px;

            & .foto1 {
                border: solid whitesmoke;
                grid-area: foto1;
                justify-self: center;
                align-self: center;
            }
            & .foto2 {
                border: solid whitesmoke;
                grid-area: foto2;
                justify-self: center;
                align-self: center;
            }
            & .foto3 {
                border: solid whitesmoke;
                grid-area: foto3;
                justify-self: center;
                align-self: center;
            }
        
            & p {
                grid-area:parrafo;
                color: white;
                font-size: 12pt;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-style: italic;
                margin-left: 5px;
            }
        }

        /*Tamaños de las fotos*/
        .foto1 {
            height: 100%;
            width: 90% ;
        }
        .foto2 {
            height: 100%;
            width: 90% ;
        }
        .foto3 {
            height: 100%;
            width: 90% ;
        }
        
    }

    /*(PRODUCTOS)*/

    .main__productos{
        height: 800px;

        .main__titulo__productos {
            font-size: 40px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .main__subtitulos h3 {
            font-size: 35px;  
        }
        thead tr th {
            text-align: center;
        }
        tbody tr td {
            text-align: center;
        }
    }

    /*(SUCURSALES)*/

    #div__sucursales main {
        height: 100%;  

        .main__titulo__sucursales {
            height: 100px;
            font-size: 40pt;
        }
        #main__grilla_sucursales {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 50% 1fr 1fr 50% 1fr 1fr 50% 1fr;
            grid-template-areas: "libertador cabildo maipu"
                                "mapalib mapacab mapamaipu"
                                "pielib piecab piemaipu"
                                ;
            grid-column-gap: 10px;
            grid-row-gap: 20px;
            height: 600px;
            width: 96%;

            .libertador {
                grid-area: libertador;
                color: white;
                text-align: center;
                font-size: 20pt;
            }
            .cabildo {
                grid-area: cabildo;
                color: white;
                text-align: center;
                font-size: 20pt;
            }
            .maipu {
                grid-area: maipu;
                color: white;
                text-align: center;
                font-size: 20pt;
            }
            
            .mapalibertador {
                height: 100% ;
                width: 90% ;
                grid-area: mapalib;
                justify-self: center;
            }
            .mapacabildo {
                height: 100% ;
                width: 90%;
                grid-area: mapacab;
                justify-self: center;
            }
            .mapamaipu {
                height: 100% ;
                width: 90% ;
                grid-area: mapamaipu;
                justify-self: center;
            }
            .pielibertador {
                grid-area: pielib;
                color: white;
                text-align: center;
                font-size: 15pt;
                font-style: italic;
            }
            .piecabildo {
                grid-area: piecab;
                color: white;
                text-align: center;
                font-size: 15pt;
                font-style: italic;
            }
            .piemaipu {
                grid-area: piemaipu;
                color: white;
                text-align: center;
                font-size: 15pt;
                font-style: italic;
            }
        
        }
    }

    /*(CONTACTO)*/

    #div__contacto main {
        height: 500px;
        .main__titulo__contacto {
            height: 80px;
            text-align: center;
            font-size: 25px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: white;
        }
    }

}